<p>home works!</p>
<nav class="sticky-top navbar navbar-dark bg-light container-fluid justify-content-start">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-outline-secondary me-2" type="button">
        <b>Home</b>
    </button>
    &nbsp;&nbsp;
    <button class="btn btn-outline-secondary me-2" type="button">
        <b>About Us</b>
    </button>
    &nbsp;&nbsp;
    <button class="btn btn-outline-secondary me-2" type="button">
        <b>Contact Us</b>
    </button>
  </nav>
  <h1>
    Public View
  </h1>
  <div class="content card my-5">
      <div class="text-center">
          <div class="card-body">
            <h3 class="card-title">
              Welcome to Asset Management System
          </h3>
            <p class="card-text">Get the best Loan Service Here. For availing the service please login</p>
            <a href="#" class="btn btn-primary">Log In</a>
          </div>
        </div>
  </div>
  