<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <h1 class="display-6">
                <b>
                    &nbsp;&nbsp;Asset Management System
                </b>
            </h1>
        </ul>
        <button class="btn btn-outline-primary" type="submit">
            <b>Log In</b>
        </button>
        &nbsp;&nbsp;&nbsp;
        </div>
</div>
</nav>


<app-home></app-home>
<app-about-us></app-about-us>
<app-contact-us></app-contact-us>
<app-login></app-login>
<app-register></app-register>
<app-page-not-found></app-page-not-found>
<app-admin></app-admin>
<app-purchase-manager></app-purchase-manager>


<footer class="sticky-bottom text-center">
    <hr>
    <div class="container">
        All Right Reserved
        &copy;2022 : Asset Management System
        <br>
        &nbsp;
    </div>
</footer>