<div class="content card my-5">
    <div class="text-center">
        <div class="card-body">
          <h3 class="card-title">
            Contact Us
        </h3>
          <p class="card-text">
            Address : Trivandrum, Kerala, India
          </p>
          
          <p class="card-text">
            Email us on : 
            <a href="mailto:assetmgmtsystm@gmail.com">Asset Management System</a>
          </p>

          <p class="card-text">
            Phone : +91-1234567890
          </p>
        </div>
      </div>
</div>